/*a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    align-content: center;
}

.active{
    background-color: pink;
}*/
