@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Kalam&display=swap');

body{
    background-color:#FFE3BE;
    font-family: karla;
    margin:0;
    padding: 0;
}

h1{
    color: #606C38;
    font-family: IBM Plex Mono;
    margin: 20px 20px 20px 535px;
}

h3{
    color:#BB4430;
    font-family: IBM Plex Mono;
    margin: 10px 10px 10px 10px;
}

ul li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    align-content: center;
}


nav {
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

nav a {
    color:#FEB95F;
    border-radius: 5px;
    font-family: IBM Plex Mono;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}


header{
    background-color:#606C38;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    opacity: .999;
}


footer{
    background-color:#606C38;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer a{
    color:#FEB95F;
    border-radius: 5px;
    font-family: IBM Plex Mono;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}


.home-p{
    font-family: Kalam;
    background-color:#606C38;
    color: antiquewhite;
    margin: 0 auto;
    line-height: 1.5em;
    padding:35px;
    box-shadow: 5px 5px 10px #6f7364;
    width: 700px;
}

.salad-img{
    background-color: #606C38;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 15px 15px 15px 500px;
    padding: 15px;
}

.logo{
    width: 150px;
}


#hero-img{
    background-color: #606C38;
    padding: 15px;
    box-shadow: 5px 5px 10px #6f7364;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 20px auto;
    width:900px;
}

/* Page 2  */
main{
    display: grid;
    grid-template-columns: 20%, 20%;
    grid-template-rows: 20%, 20%;
}

.taco-img{
   width: 450px;
   background-color: #606C38;
   box-shadow: 5px 5px 10px #6f7364;
   padding: 15px;
   grid-column:1;
   grid-row:1;
   margin: 0 0 20px 20px;

}

.spaghetti-img{
   width: 275px;
   background-color: #606C38;
   box-shadow: 5px 5px 10px #6f7364;
   padding: 15px;
   grid-column:2;
   grid-row:2;
   margin: 0 0 20px 20px;
}

.taco-p{
    font-family: Kalam;
    grid-column:2;
    grid-row: 1;
    margin: 255px 20px 90px 100px;
    line-height: 1.5em;
    padding:85px;
}

.ingredients1{
    font-family: Kalam;
    grid-column:2;
    grid-row: 1;
    margin: 85px 65px 15px 25px;
}

.spaghetti-p{
    font-family: Kalam;
    grid-column: 2;
    grid-row: 2;
    margin: 150px 20px 40px 20px;
    line-height: 1.5em;
    padding:105px;
}

.ingredients2{
    font-family: Kalam;
    grid-column:2;
    grid-row: 2;
    margin: 15px 65px 15px 25px;
}


